.header{
  grid-area: h;
  background-color:yellowgreen;
  display: flex;
  justify-content: space-between;  
  align-items: center;
}
.header img{
  width: 80px;
  grid-area: l;
}

.userLogin{
  padding:3px;
}

.userLogin img{
  display: block;
  border-radius: 50%;
  width: 50px;

}