.post{
    border-radius: 8px;
    background-color: rgb(194, 194, 240);    
    display: flex;  
}

.post img{
    border-radius: 50%;
    width: 75px;
    height: 75px;

}

.name{
    color:black;
    font-weight: 500;

}

.message{
    margin: 10px 10px 10px 10px;
    font-size: medium;
    color: black;
}

.newPost{
    margin: 10px
}

textarea{
    width:300px;
    height: 60px;
}



