.content{
    display: flex;
    padding: 10px 10px 10px 10px;
    background-color: rgb(194, 194, 240);
    border-radius: 8px;
}

.user_image{
    margin-right: 20px;
}

.user_image img{
    height: 250px;
    width: 200px;
    border-radius: 8px;
}

.user_info_name{
    font-size: 30px;
    font-weight: 700;
}
.user_info_name p{
    
}
