.post{
    border-radius: 8px;
    background-color: rgb(194, 194, 240);    
    display: flex;  
    margin:25px 25px 25px 25px;
}

.post img{
    margin: 10px 10px 10px 10px;
    border-radius: 50%;
    width: 75px;
    height: 75px;

}

.username{
    color:black;
    font-weight: 500;

}

.message{
    margin: 10px 10px 10px 10px;
    font-size: medium;
    color: black;
}



