.app-wrapper{
  display: grid;
  width: 70%;
  gap: 10px;
  grid-template-areas: 
  "h"
  "b"
  "c"
  "f";
  grid-template-columns: 1fr;
  margin: auto;
  padding: auto;
  background-color: #202632;
}
